<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1" routerDirection='back'></ion-back-button>
        </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor='let return of data; let a = index' (click)='openCategory(return.cat_id)'>
    <ion-card-content>
      <ion-card-subtitle>
            {{ return.cat_name }}
          </ion-card-subtitle>
    </ion-card-content>

  </ion-card>

</ion-content>
