
@import '../../theme/_noBorder-tab1';

// .welcome-card ion-img {
//   max-height: 35vh;
//   overflow: hidden;
// }

ion-slides {
  padding-bottom: 35px;
}

ion-card {
  box-shadow: none;
}

div.newItems{
  padding-top: 10%;

}

.top-banner.ion-card{
  display: flex;
  flex-direction: column;
  max-width: 25% !important;
  max-height: 35% !important;

}

div.seeMore{
  float:right
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}